* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    height: 100%;
}

.sidecontainer {
    width: 100%;
    height: 100vh;
}

.logo {
    padding: 10px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.dashboard {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #EEEEEE;
    grid-row: span 2;
    margin: 10px;
}

.dashboard a {

    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px;
}

@keyframes bounceAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.dashboard a:hover {
    animation: bounceAnimation 0.5s infinite;
    background-color: #52616B;
    border: solid 1px #F0F5F9;
    border-radius: 2px;
}

.dashboard a:active,
a:focus {
    animation: bounceAnimation 0.5s infinite;
    background-color: #52616B;
    border: solid 1px #F0F5F9;
    border-radius: 2px;
}

.dashboard span {
    padding-right: 20px;
    white-space: nowrap;
}

.dashboard ul li {
    color: #1E2022;
    padding-bottom: 50px;
    list-style: none;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard .topLink {
    padding-top: 30px;
    max-width: 100%;
    height: auto;
}

.dashboard .botLink {
    padding-top: 50px;
    max-width: 100%;
    height: auto;
}
