.card {
    border: solid 2px #1E2022;
    border-radius: 20px;
    padding: 30px;
    max-height: 20vh;
    background-color: #C9D6DF;
    color: #1E2022;
}

span {
    display: flex;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

body{font-family: cursive;}

