<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <section>
        <form id="loginForm">
            <h1>Login</h1>
            <div class="inputbox">
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="inputbox">
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Remember Me</label>
                <a href="#">Forget Password</a>
            </div>
            <button (click)="navigateToDashboard()">Log in</button>
            <div class="register">
                <p>Don't have a account <a routerLink="/registration">Register</a></p>
            </div>
        </form>
    </section>
</body>

</html>