* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3d474e;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-right: 20px;
}

.headcontainer {
    display: flex;
    margin-right: 2%;
    margin-top: 5px;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button i {
    color: #333;
    font-size: 18px;
}

.username {
    transition: all .3 ease-in;
}

.username a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
    color: #F0F5F9;
}

.username img {
    display: block;
    max-width: 25px;
    border-radius: 20%;
    border: solid 2px #393646;
    margin: 0 auto;
    transform: all 0.3s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

.username a:hover {
    animation: bounce .5s infinite;
    cursor: pointer;
}










