* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto-Regular', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
    background-color: #f2f2f2;
    margin: -8px;
}

.layout {
    margin: 0;
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: #00ADB5;
    grid-area: header;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 0;
}

.sidebar {
    background-color: #EEEEEE;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 2;
}

.sidebar:hover {
    width: 250px;
}

.main {
    background-color: #C9D6DF;
    grid-area: main;
    padding: 0;
}